<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1031900527669-07j669k84ojea5m66f8v4cuv55s7ppgc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1031900527669-07j669k84ojea5m66f8v4cuv55s7ppgc</string>
	<key>API_KEY</key>
	<string>AIzaSyA8qF7gkEaxWijtSMc27XMqJcLAyoJNC40</string>
	<key>GCM_SENDER_ID</key>
	<string>1031900527669</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.KinoLib</string>
	<key>PROJECT_ID</key>
	<string>kinolib-1ce6a</string>
	<key>STORAGE_BUCKET</key>
	<string>kinolib-1ce6a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1031900527669:ios:b0733f3d2becf4d573057c</string>
</dict>
</plist>